

<div class="container" ng-controller="IndexController">
    <div class="row row-content">
        <div class="col-xs-12 col-sm-3 col-sm-push-9">
            <p style="padding:20px;"></p>
            <h3 align=center>Our Lipsmacking Culinary Creations</h3>
        </div>
        <div class="col-xs-12 col-sm-9 col-sm-pull-3">
            <div ng-if="!showDish">
                <h3>{{message}}</h3>
            </div>
            <div class="media" ng-if="showDish">

                <ul class="media-list tab-pane">
                    <li class="media">
                        <div class="media-left media-middle">
                            <a data-ui-sref="app.dishdetails({id: dish.id})">
                                <img class="media-object img-thumbnail"
                                     ng-src={{dish.image}} alt="{{dish.name}}">
                            </a>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading">{{dish.name}}
                                <span class="label label-danger label-xs">{{dish.label}}</span>
                                <span class="badge">{{dish.price| currency}}</span>
                            </h2>
                            <p>{{dish.description}}</p>   
                        </div>
                    </li>
                </ul>

            </div>

        </div>
    </div>


    <div class="row row-content">
        <div class="col-xs-12 col-sm-3">
            <p style="padding:20px;"></p>
            <h3 align=center>This Month's Promotions</h3>
        </div>
        <div class="col-xs-12 col-sm-9">

            <div ng-if="!showPromoDish">
                <h3>{{messagePromo}}</h3>
            </div>

            <ul class="media-list tab-pane" ng-if="showPromoDish">
                <li class="media">                    
                    <div class="media-body">
                        <h2 class="media-heading">{{promoDish.name}}
                            <span class="label label-danger label-xs">{{promoDish.label}}</span>
                            <span class="badge">{{promoDish.price| currency}}</span>
                        </h2>
                        <p>{{promoDish.description}}</p>   
                    </div>
                    <div class="media-right media-middle">
                        <a data-ui-sref="#">
                            <img class="media-object img-thumbnail"
                                 ng-src={{promoDish.image}} alt="{{promoDish.name}}">
                        </a>
                    </div>
                </li>
            </ul>

        </div>
    </div>

    <div class="row row-content">
        <div class="col-xs-12 col-sm-3 col-sm-push-9">
            <p style="padding:20px;"></p>
            <h3 align=center>Meet our Culinary Specialists</h3>
        </div>
        <div class="col-xs-12 col-sm-9 col-sm-pull-3">

            <div ng-if="!showExecutive">
                <h3>{{messageExecutive}}</h3>
            </div>

            <ul class="media-list tab-pane" ng-if="showExecutive">
                <li class="media">
                    <div class="media-left media-middle">

                        <img class="media-object img-thumbnail"
                             ng-src={{executive.image}} alt="{{executive.name}}">

                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">{{executive.name}}
                            <span class="small text-muted">{{executive.designation}}</span>                                
                        </h3>
                        <p>{{executive.description}}</p>   
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
